@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.as-navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.as-leftNavBar {
  display: flex;
}

.as-goOffLogo {
  cursor: pointer;
  height: 36px;
  margin-right: 2%;
}

.as-searchBox {
  flex-grow: 0.50;
  display: flex;
  border-radius: 50px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  padding: 5px 9px;
}

.as-searchIcon {
  cursor: pointer;
  margin-right: 5px;
}

.as-emptySpace {
  flex: 0.17;
}

.as-inputSearch {
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: none;
  background: rgba(58, 134, 255, 0.00);
  color: black;
  outline: 0px !important;
  box-shadow: none !important;
}

.as-optionsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90px;
  margin-right: 4%;
}

.as-amount {
  text-decoration: none;
  background-color: transparent;
  color: #007bff;
}

.as-profileRow {
  display: flex;
}

.as-profileAvatar {
  background-color: rgba(0, 0, 0, 0.2);
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.as-content {
  display: flex;
  justify-content: center;
}

.as-leftContent {
  flex-grow: 0.07;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.as-backBtn, .as-editProfileBtn, .as-accountSettingsBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.9);
  opacity: 0.65;
  background-color: white;
  padding: 12px 20px;
  margin-top: 5px
}

.as-backBtn {
  margin-top: 50px;
  margin-bottom: 35px;
}

.as-backBtn:hover, .as-editProfileBtn:hover, .as-accountSettingsBtn:hover {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

.as-selectedBtn {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

.as-backIcon, .as-editIcon, .as-accountIcon {
  cursor: pointer;
  height: 26px;
  margin-right: 12px;
}

.as-rightContent {
  flex-grow: 0.55;
}

.as-searchIcon, .as-homeIcon, .as-amount, .as-plus, .as-arrowDown, .as-profileAvatar {
  cursor: pointer;
  opacity: 0.8;
}

.as-headingRow {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.as-hTxt {
  margin: 0px; line-height: 0px; font-weight: 400; /* Cancel out h# defaults */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 25px;
}

.as-hDescription {
  margin: 0px; line-height: 20px; font-weight: 400;  /* Cancel out h# defaults */
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}

.as-rightHeading {
  height: 100%;
  align-self: center;
}

.as-doneBtn, .as-cancelBtn {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 200px;
  padding: 6px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  outline: 0;
  margin-left: 5px;
}

.as-emailLbl, .as-passwordLbl, .as-countryLbl {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

.as-emailInpt, .as-passwordInpt, .as-countryInpt {
  width: 460px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

.as-maleRow, .as-femaleRow, .as-otherRow {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.as-genderLbl {
  font-family: 'Poppins', sans-serif;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.as-maleRadio, .as-femaleRadio, .as-otherRadio {
  margin: 0px;
  height: 24px;
  width: 24px;
}

.as-maleLbl, .as-femaleLbl {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 8px;
}

.as-otherInpt {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 4px 0px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-left: 8px;
}

.as-doneBtn:hover, .as-cancelBtn:hover {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

.as-searchBox:hover, .as-homeIcon:hover, .as-plus:hover, .as-arrowDown:hover, .as-searchIcon:hover {
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}