@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.ep-navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ep-leftNavBar {
  display: flex;
}

.ep-goOffLogo {
  cursor: pointer;
  height: 36px;
  margin-right: 2%;
}

.ep-searchBox {
  flex-grow: 0.50;
  display: flex;
  border-radius: 50px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  padding: 5px 9px;
}

.ep-searchIcon {
  cursor: pointer;
  margin-right: 5px;
}

.ep-emptySpace {
  flex: 0.17;
}

.ep-inputSearch {
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: none;
  background: rgba(58, 134, 255, 0.00);
  color: black;
  outline: 0px !important;
  box-shadow: none !important;
}

.ep-optionsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90px;
  margin-right: 4%;
}

.ep-amount {
  text-decoration: none;
  background-color: transparent;
  color: #007bff;
}

.ep-profileRow {
  display: flex;
}

.ep-profileAvatar {
  background-color: rgba(0, 0, 0, 0.2);
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.ep-content {
  display: flex;
  justify-content: center;
}

.ep-leftContent {
  flex-grow: 0.05;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.ep-backBtn, .ep-editProfileBtn, .ep-accountSettingsBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.9);
  opacity: 0.65;
  background-color: white;
  padding: 12px 20px;
  margin-top: 5px
}

.ep-backBtn {
  margin-top: 50px;
  margin-bottom: 35px;
}

.ep-backBtn:hover, .ep-editProfileBtn:hover, .ep-accountSettingsBtn:hover {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

.ep-selectedBtn {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

.ep-backIcon, .ep-editIcon, .ep-accountIcon {
  cursor: pointer;
  height: 26px;
  margin-right: 12px;
}

.ep-rightContent {
  flex-grow: 0.55;
}

.ep-searchIcon, .ep-homeIcon, .ep-amount, .ep-plus, .ep-arrowDown, .ep-profileAvatar {
  cursor: pointer;
  opacity: 0.8;
}

.ep-headingRow {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.ep-hTxt {
  margin: 0px; line-height: 20px; font-weight: 400; /* Cancel out h# defaults */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.ep-hDescription {
  margin: 0px; line-height: 0px; font-weight: 400;  /* Cancel out h# defaults */
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.ep-rightHeading {
  height: 100%;
  align-self: center;
}

.ep-doneBtn, .ep-cancelBtn {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 200px;
  padding: 6px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  outline: 0;
  margin-left: 5px;
}

.ep-profImgRow {
  display: flex;
  margin-bottom: 50px;
}

.ep-profImgTxt {
  margin: 0px; line-height: 0px; font-weight: 400;  /* Cancel out h# defaults */
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 600;
}

.ep-profImg {
  height: 180px;
  width: 180px;
}

.ep-rightProfImg {
  display: flex;
  align-items: center;
}

.ep-chooseFileBtn {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 30px;
  border-radius: 50px;
  padding: 9px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  outline: none;
  margin-right: 10px;
}

.ep-fileName {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}


.ep-namesRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}

.ep-leftnames, .ep-rightnames {
  flex-grow: 0.46;
  display: flex;
  flex-direction: column;
}

.ep-fNameLbl, .ep-lNameLbl, .ep-bioLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

.ep-fNameInpt, .ep-lNameInpt {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.ep-bioTextArea {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  outline: 0px !important;
  -webkit-appearance: none;
  border: none;
  box-shadow: none !important;
  overflow: auto;
  resize: vertical;
  height: 30px;
  border-bottom: 1px solid;
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.ep-doneBtn:hover, .ep-cancelBtn:hover, .ep-chooseFileBtn:hover {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}

.ep-searchBox:hover, .ep-homeIcon:hover, .ep-plus:hover, .ep-arrowDown:hover, .ep-searchIcon:hover {
  color: rgba(0, 0, 0, 0.9) !important;
  opacity: 1;
}