.whole-container {
    position: flex;
}

@media (max-width: 1000px) {
    .left-side {
        display: none !important;
    }
    
    .right-container {
        position: fixed !important;
        right: 25% !important;
        font-size: 4px;
        width: 50%;
        height: 80%;
        margin-right: -5px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    html {
        background-color: #fff;
        overflow-x: hidden;
    }
    
  }

@media only screen and (max-width: 480px) {
    .right-container {
        position: relative !important;
        width: 100%;
        right: 25%;
    }
}