<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p>saved content</p>
        console.log("<%=articles[0].article%>")

    </body>
    
</html>

<script>
    console.log("<%=articles%>")
</script>