<!DOCTYPE html>
<html>
    <body onload="fillinVar()">
        <div id="followerlist"></div>
    </body>

    <script>
        function fillinVar(){
            numusers = 0;
            console.log("test");
            (function(){
                console.log("test1");
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    console.log("test2");
                    if (this.readyState == 4 && this.status == 200) {
                        console.log("test3");
                        console.log(this.responseText)
                        var myArr = JSON.parse(this.responseText);
                        console.log(myArr);
                        var div, a, text, img;
                        for (var i = 0, l = myArr.length; i < l; ++i) {
                            div = document.createElement('div');
                            div.setAttribute('class', 'follow-list-element')
                            a  = document.createElement('a');
                            img = document.createElement('img');
                            text = document.createTextNode(myArr[i][0]);

                            img.setAttribute("src", myArr[i][1]);
                            img.setAttribute("width", "5%");
                            img.setAttribute("height", "5%");

                            user = myArr[i][0];
                            console.log(myArr[i][0]);
                            a.setAttribute("class", "user" + i);
                            a.setAttribute("href", "/m/" + user);
                            a.setAttribute("target", "_blank");
                            a.appendChild(text);
                            div.appendChild(a);
                            document.querySelector("#followerlist").appendChild(div);
                            document.querySelector("#followerlist").appendChild(img);
                        }
                         
                        console.log(myArr);
                    }
                };
                xhr.open("GET", '/api/users/following/<%=user%>', true);
                xhr.withCredentials = true;
                xhr.send();
            })();
        }
    </script>
</html>