<!DOCTYPE html>
<html>
    <body onload="fillinVar()">
        <div id="followerlist"></div>
    </body>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

		.userPic {
			height: 60px;
			width: 60px;
			border-radius: 50%;
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		#followElement {
			position: absolute;
			left: 85px;
			margin-top: 20px;
		}

		#followElement a {
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
        }
        
        #followElement button {
            right: 20%;
        }

        #chatElement {
			position: absolute;
			left: 450px;
			margin-top: 20px;
		}

		#chatElement a {
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
        }
        
        #chatElement button {
            right: 20%;
        }
	</style>

    <script>
        function fillinVar(){
            numusers = 0;
            // console.log("test");
            (function(){
                // console.log("test1");
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    // console.log("test2");
                    if (this.readyState == 4 && this.status == 200) {
                        // console.log("test3");
                        // console.log(this.responseText)
                        var myArr = JSON.parse(this.responseText);
                        // console.log(myArr);
                        var div, div2, a, text, img, dmtext, dma;
                        for (var i = 0, l = myArr.length; i < l; ++i) {
                            div = document.createElement('div');
                            div2 = document.createElement('div');
                            div.setAttribute('class', 'follow-list-element')
                            div.setAttribute('id', 'followElement')
                            // div2.setAttribute('class', 'follow-list-element')
                            // div2.setAttribute('id', 'chatElement')
                            a  = document.createElement('a');
                            img = document.createElement('img');
                            text = document.createTextNode(myArr[i][0]);
                            // dmtext = document.createTextNode("Chat");
                            // dma = document.createElement('a');

                            img.setAttribute("src", myArr[i][1]);
                            img.setAttribute("class","userPic");
                            img.setAttribute("id", "user"+i+"pic");

                            user = myArr[i][0];
                            // console.log(myArr[i][0]);
                            // dma.setAttribute("class", "userchat" + i);
                            // dma.setAttribute("id", "userchat"+i)
                            // dma.setAttribute("href", "/m/" + user);
                            // dma.setAttribute("target", "_blank");
                            // dma.appendChild(dmtext);

                            // div2.appendChild(dma);

                            user = myArr[i][0];
                            // console.log(myArr[i][0]);
                            a.setAttribute("class", "user" + i);
                            a.setAttribute("id", "user"+i);
                            a.setAttribute("href", "/profiles/" + user);
                            a.setAttribute("target", "_blank");
                            a.appendChild(text);

                            // dmbutton.setAttribute("innerHTML", "DM");
                            // dmbutton.appendChild(a);
                            div.appendChild(a);
                            // document.querySelector("#followerlist").appendChild(dmbutton);
                            document.querySelector("#followerlist").appendChild(div);
                            // document.querySelector("#followerlist").appendChild(div2);
                            document.querySelector("#followerlist").appendChild(img);
                        }
                         
                        // console.log(myArr);
                    }
                };
                xhr.open("GET", '/api/users/following/<%=user%>', true);
                xhr.withCredentials = true;
                xhr.send();
            })();
        }
    </script>
</html>