<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p id = "save_link">saved content</p>
        <% Object.keys(articles).forEach(function(prop){%>
           <a id = "link" href = <%=articles[prop].article%>> <%=articles[prop].article%> </a>
       <% })%>
    </body>
    
</html>
<!-- 
<script>
    function art_search(){
        <% Object.keys(articles).forEach(function(prop){%>
            var p = document.createElement("p");
            var n = document.createTextNode(articles[prop].articles); 
            p.appendChild(n);
           //<% console.log(prop, articles[prop].article);%>
       <% })%>
        // var arts = <%=articles%>;
        // for (var i = 0; i < arts.length; i++){
        //     var p = document.createElement("p");
        //     var n = document.createTextNode(arts[i].articles); 
        //     p.appendChild(n);
        // }
    }
</script> -->