.NavBarContainer {
	width: 100%;
	height: 80px;
	top: 0px;
	display: flex;
	// justify-content: space-around;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	align-items: center;
	padding: 0 1%;
	z-index: 1000000;
	position: sticky;
}
.logo {
	display: flex;
	align-items: center;
	width: 4.063rem;
	height: 3.625rem;
	cursor: pointer;
}
.searchTab {
	width: 57%;
	background: rgba(58, 134, 255, 0.08);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	margin: 0 2%;
}
.searchTab input {
	width: 100%;
	padding: 0 0.5rem;
	border-radius: 10px;
	font-size: 1rem;
	color: #757d8a;
	height: 41px;
	outline: none;
	border: none;
	background: transparent;
}

.searchTab input:focus::placeholder {
	color: transparent;
}

.menuIcons {
	margin-left: 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10%;
}
.iconContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 2.188rem;
	height: 2.188rem;
}
.navOptionsIcon {
	cursor: pointer;
}

.loginInfo {
	white-space: nowrap;
	margin-right: 2%;
	margin-left: auto;
	height: 41px;
	display: flex;
	align-items: center;
	background: rgba(58, 134, 255, 0.08);
	border-radius: 20px;
}

.loginInfo:hover {
	cursor: pointer;
	background: rgba(58, 133, 255, 0.116);
}

.navUserImage {
	width: 37px;
	height: 37px;
	border-radius: 100%;
	margin-left: 0.8%;
}
.navUserText {
	// flex-grow: 1;
	text-align: center;
	color: #757d8a;
	margin: 0 5px 0 7px;
	font-size: 1.1rem;
	font-weight: 400;
	font-family: 'Poppins';
}
.navArrowContainer {
	display: flex;
	align-items: center;
	margin-right: 7px;
}
