.tagContainer {
	background: rgba(86, 103, 255, 0.15);
	width: fit-content;
	padding: 1%;
	border-radius: 5px;
	cursor: pointer;
}
.tagText {
	background: linear-gradient(180deg, #3a86ff 0%, #5667ff 100%);
	color: transparent;
	background-clip: text;
	font-size: 0.75rem;
	font-weight: bold;
}
.tagContainer:hover {
	background: rgba(86, 103, 255, 0.274);
}
