<!DOCTYPE html>
<html>
<head>
    <title>AccountType</title>
    <link rel="stylesheet" href="/css/emailver.css">
</head>
<body>
    <h1 id="header">Let's make sure its you!</h1>
    <p id="subheader">check your email to verify your account</p>
</body>
</html>