<!DOCTYPE html>
<html lang="en" class="pf-m-redhat-font">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180244749-2"></script>
	<script>


		window.dataLayer = window.dataLayer || [];
		

		//console.log(invitable)

		gtag('js', new Date());

		gtag('config', 'UA-180244749-2');
	</script>

	<!--<link rel="stylesheet" href="/css/fonts.css" />-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/public/css/resetPasswords.css"
	<title>Login</title>
</head>

<body>


	<div class="center">
		<div class="right-container">
			<!-- <img src="/GO_OFF_LOGO.svg" id="logo"> -->

			<p id="head-text">Reset Password</p>
			
			<form action="/finalResetPassword" method="post" class="field-container" id="test-container123">
				<label>USERNAME <span class="required">*</span></label><br>
				<input type="text" class="field-input" id="username" name="username"><br>

				<label>NEW PASSWORD <span class="required">*</span></label><br>
				<input type="text" class="field-input" id="password" name="password"><br>

				<button type="submit" id="submit-button">Reset password</button>
			
				</form>
		</div>
		<div class="wave-container">
			<img src="/wave_thin.svg" id="wave">
		</div>
	</div>
</body>

</html>