<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/test_login.css">
    </head>
    <body>
        <div>
            <img src="/GO_Off.png" style="width:15%; height:auto;">
        </div>
        <div>
            <h1 id="welcome">Welcome to Go Off!</h1>
            <div class="splash_nav">
                <button onclick="window.location.href='/signup'">Sign Up</button>
                <button onclick="window.location.href='/login'">Log In</button>
            </div>
        </div>
    </body>
</html>