<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/test_login.css">
	<title>Go Off!</title>
</head>

<body id="root">
	<!-- <div class="left-side">
		<img src="/go-off-logo-big.svg" id="left-logo" draggable="false">
	</div>

	<div class="right-side">
		<div class="center-container">
			<img src="/GO_OFF_LOGO.svg" class="right-logo" draggable="false">

			<p id="main-text">Join the conversation, literally.</p>
			<p id="sub-text">Sign up or login to join Go Off!</p>

			<div class="button-container">
				<button onclick="window.location.href='/signup'" class="form-button">Sign Up</button>
				<button onclick="window.location.href='/login'" class="form-button">Log In</button>
			</div>
		</div>

		<div class="bottom-links">
			<ul> <!-- CREATE LINKS TO THESE PAGES 
				<li><a href="">Contact</a></li>
				<li><a href="">Beta Sign Up</a></li>
				<li><a href="https://docs.google.com/document/u/1/d/e/2PACX-1vTTT-CRXbRMfNaPHfxkwvZ-s9cG8WKvcvVPEGrPiDfRGh-eb6gDEGZNIxua3RSLmQ/pub">Privacy Policy</a></li>
				<li><a href="https://docs.google.com/document/u/1/d/e/2PACX-1vRLCSRa52WgXF_hCBByjGv6TIKcuXgirR4QB2Z5s_4r1p8ub_cOKvdCgZNNN80vsw/pub">Terms & Conditions</a></li>
			</ul>
		</div>
	</div> -->
</body>

</html>