@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.droparrow {
	position: absolute;
	display: inline-block;
	right: 17%;
	margin-top: 0%;
	/* border: 1px solid rgba(153, 150, 150, 0.116); */
}

.dropdown-arrowcontent {
	display: none;
	position: absolute;
	background-color: #77bcce;
	min-width: 160px;
	right: 0%;
	/* margin-top: 250%; */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.droparrow:hover {
	display: block;
}

.pname {
	top: 3%;
	position: absolute;
	left: 72%;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	width: 7%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#edit-profile-text {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 30px;
	position: absolute;
	top: 0;
}

/* .fpname{
    top: 3%;
    position: absolute;
    right: 23.5%;
    width: 4%;
}

.lpname{
    top: 3%;
    position: absolute;
    right: 20%;
    width: 4%;
} */

#profile-pic {
	position: absolute;
	border-radius: 50%;
	top: 21.5%;
	height: 20%;
	width: 20%;
	margin-top: 5%;
}

button {
	border: 0;
	padding: 1em;
	position: relative;
	cursor: pointer;
	background: none;
}

#edit_profile {
	position: absolute;
	top: 30%;
	left: 15%;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

#account_settings {
	position: absolute;
	top: 40%;
	left: 15%;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

#edit_profile:after {
	content: " ";
	transition: background-color .3s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#edit_profile:hover:after {
	background-color: rgba(133, 200, 231, 0.5);
	border-radius: 15px;
}

#account_settings:after {
	content: " ";
	transition: background-color .3s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#account_settings:hover:after {
	background-color: rgba(133, 200, 231, 0.5);
	border-radius: 15px;
}

#back_button {
	position: absolute;
	top: 15%;
	left: 10%;
}

.editProf {
	width: calc(var(--pageWidth) - 300px);
	height: 80vh;
	margin: 0 auto;
	
	/* border: 2px solid #131111; */
	padding: 2rem;
	position: relative;
	right: -130px;
	top: 100px;
}

#doneCancel-container {
	float: right;
	position: absolute;
	top: 20px;
	right: 0;
}

#submitBtn, #cancelBtn {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	border-radius: 200px;
	padding: 6px 20px;
	background-color: rgba(0, 0, 0, 0.05);
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, .1); */
	border: 0;
	outline: 0;
}

#submitBtn:hover, #cancelBtn:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

#desc {
	position: relative;
	top: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
}

label {
	display: block;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

input[name=email], input[name=password], input[name=location] {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	display: inline-block;
	width: 50%;
	padding: 8px 1px;
	border: 0;
	outline: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	margin-top: -14px;
	margin-bottom: 35px;
}

label[for=email], label[for=password], label[for=location] {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-transform: uppercase !important;
	display: inline-block;
	color: rgba(0, 0, 0, 0.6);
}

.accountSettingsContainer {
	margin-top: 60px;
}

#Gender {
	margin-top: 30px;
	border: none;
}

#gender-text {
	display: block;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

#other-gender-textbox {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: 4px 0px;
	border: 0;
	outline: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

label[for=Male], label[for=Female], input[name=Other] {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: rgba(0, 0, 0, 0.7);
	margin-left: 5px;
}

input[type=radio] {
	height: 24px;
	width: 24px;
	position: relative;
	top: 6px;
}

.leftButtons {
	position: absolute;
	top: 0px;
	left: -295px;
	display: block;
	width: 300px;
}

.side-button {
	width: 300px;
	position: relative;
	top: 0px;
	margin-top: 4px;
	left: 0;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-align: left;
	letter-spacing: -0.5px !important;
	padding: 11px 18px 11px 25px;
	width: 280px;
	border-radius: 50px;
	opacity: 0.65;
	display: inline-block;
	text-decoration: none !important;
	color: rgba(0, 0, 0, 0.9);
}

.side-button:hover {
	letter-spacing: -0.5px !important;
	background-color: rgba(0, 0, 0, 0.07);
	color: rgba(0, 0, 0, 0.9);
	opacity: 1;
}

.selectedTab {
	background-color: rgba(0, 0, 0, 0.07);
	color: rgba(0, 0, 0, 0.9) !important;
	opacity: 1;
}

.edit-profile-icon {
	height: 26px;
	position: relative;
	top: -1px;
	left: -8px;
}