@import url(//db.onlinewebfonts.com/c/eeb2719d248b27841be5f4899986eedc?family=Sentinel+Book);

@font-face {
	font-family: Sentinel_Book;
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot");
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff") format("woff"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.svg#Sentinel Book") format("svg");
}

@font-face {
	font-family: Poppins_Bold;
	src: url(/Poppins-Bold.ttf);
}

@font-face {
	font-family: Poppins_Medium_Regular;
	src: url(/Poppins-Medium.ttf);
}

@font-face {
	font-family: Poppins_SemiBold_Regular;
	src: url(/Poppins-SemiBold.ttf);
}

:root {
	--sideMargins: 30px;
	--pageSideMargins: 160px;
	--primaryConvo: 360px;
	--pageWidth: 1600px;
	--rowHeight: 350px;
	--goOffBlue: #3A86FF;
}

.pageContainer {
	/* background-color: #000; */
	position: relative;
	width: var(--pageWidth);
	margin: 0 auto;
	top: 75px;
	height: calc(100vh - 75px);
}

.article-info-container {
	height: 230px;
	border-radius: 10px;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

#article-info-image-container {
	background-color: rgba(0, 0, 0, 0.1);
	height: 230px;
	width: 260px;
	overflow: hidden;
}

#article-info-image {
	width: 100%;
}

#article-info-right {
	position: absolute;
	top: 0;
	left: 275px;
	height: 230px;
}

#article-info-poster {
	margin-top: 12px;
}

#article-info-poster, #article-info-date {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 0;
}

#article-info-date {
	margin-left: 10px;
	color: rgba(0, 0, 0, 0.4);
}

#article-info-title {
	font-family: Poppins_Bold;
	font-size: 30px;
	margin-bottom: 0;
}

#article-info-user-description {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
	margin-top: 3px;
}

#article-info-article-link, #article-info-convo-host {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	display: inline-block;
}

#article-info-convo-host {
	margin-left: 10px;
}

#article-info-bottom {
	position: absolute;
	bottom: 0;
}

#article-info-article-link {
	color: rgba(0, 0, 0, 0.4);
}

#messages {
	height: 48vh;
}

#chat {
	border-radius: 10px;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
	padding: 24px 28px;
	box-sizing: content-box;
	margin-top: 22px;
}

::-webkit-scrollbar {
	width: 8px;
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar * {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15) !important;
	border-radius: 5px;
}

#loading-text {
	font-family: Poppins_Bold;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	overflow-y: auto;
	outline: none;
	border: 0;
}

.chat-message {
	margin-top: 22px;
	margin-left: 60px;
	margin-bottom: 5px;
	display: block;
	width: calc(100% - 100px);
}

.chat-message img {
	height: 38px;
	margin-left: -45px;
}

.chat-message p {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
	display: inline;
	margin-left: 6px;
}

.chat-message span {
	font-family: Poppins_Bold;
	font-size: 14px;
	margin-left: 8px;
}

#send, #end {
	font-family: Poppins_Bold;
	font-size: 14px;
	padding: 9px 22px;
	color: #fff;
	display: inline-block;
	border: 0;
	outline: 0;
	border-radius: 50px;
	background-color: var(--goOffBlue);
}

#analysis-button {
	font-family: Poppins_Bold;
	font-size: 14px;
	border: 0;
	outline: 0;
	padding: 9px 22px;
	background-color: var(--goOffBlue);
	color: #fff;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#analysis-button:hover {
	cursor: pointer;
	opacity: 0.9;
}

#convo-ended {
	font-family: Poppins_Bold;
	color: rgba(0, 0, 0, 0.4);
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: calc(50% - 40px);
	left: 50%;
	transform: translate(-50%, -50%);
}

form {
	display: inline-block;
}

#end {
	background-color: rgba(0, 0, 0, 0.0);
	padding: 0;
	color: rgba(0, 0, 0, 0.5);
	margin-right: 20px;
	margin-top: 16px;
}

.ux-survey {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	float: right;
	margin-top: 16px;
}

#send {
	margin-left: 6px;
}

#send:hover, #end:hover {
	cursor: pointer;
	opacity: 0.9;
}

#textarea {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	border: 0;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.07);
	border-radius: 100px;
	padding: 10px 18px;
	width: calc(100% - 95px);
	display: inline-block;
	position: relative;
	z-index: 1000;
	margin-top: 23px;
}

#participants {
	display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1690px) {
	:root {
		--pageWidth: 1300px;
	}
}

@media only screen and (max-width: 1400px) {
	:root {
		--pageWidth: 1000px;
	}
}

@media only screen and (max-width: 1100px) {
	:root {
		--pageWidth: 800px;
	}
}