@import url(//db.onlinewebfonts.com/c/eeb2719d248b27841be5f4899986eedc?family=Sentinel+Book);

@font-face {
	font-family: Sentinel_Book;
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot");
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff") format("woff"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.svg#Sentinel Book") format("svg");
}

@font-face {
	font-family: Poppins_Bold;
	src: url(/Poppins-Bold.ttf);
}

@font-face {
	font-family: Poppins_Medium_Regular;
	src: url(/Poppins-Medium.ttf);
}

@font-face {
	font-family: Poppins_SemiBold_Regular;
	src: url(/Poppins-SemiBold.ttf);
}

.logo img {
	position: absolute;
	height: 50px;
	width: 50px;
	left: 20%;
}

.dropBtn {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* .fpname{
    top: 3%;
    position: absolute;
    right: 23.5%;
    width: 4%;
}

.lpname{
    top: 3%;
    position: absolute;
    right: 20%;
    width: 4%;
} */

.profile-pic-container {
	border: 1px dotted blue;
	margin-top: 60px;
}

#profile-image-text {
	display: block;
}

#profile-pic {
	position: relative;
	border-radius: 50%;
	height: 180px;
	width: 180px;
}

button {
	border: 0;
	padding: 1em;
	position: relative;
	cursor: pointer;
	background: none;
}

#Plus {
	right: 31.5%;
	top: -1.5%;
	position: absolute;
	border-radius: 50%;
}

#Submit {
	right: 31.5%;
	top: 1.0%;
	position: absolute;
	border-radius: 50%;
}

#Cancel {
	position: absolute;
	margin-top: 10px;
	float: right;
	visibility: hidden;
	right: 20%;
	background-color: lightskyblue;
	padding: 5px 5px;
}

hr {
	position: absolute;
	top: 10%;
	margin-bottom: 5%;
	border: 1px solid #b6b1b1;
	width: 100%;
	color: #b6b1b1;
}

.editProf {
	width: 60%;
	height: 80vh;
	margin: 0 auto;
	
	/* border: 2px solid #131111; */
	padding: 2rem;
	position: relative;
	top: 100px;
	border: 1px solid red;
}

#edit-profile-text {
	font-family: Poppins_Bold;
	font-size: 30px;
	position: absolute;
	top: 0;
}

label {
	display: block;
	font-weight: bold;
	font-family: Poppins_Medium_Regular;
}

#inputContainer {
	margin-top: 300px;
	position: absolute;
	bottom: 0;
}

label[for=profile-pic] {
	position: relative;
	font-family: Poppins_Medium_Regular;
	text-transform: uppercase;
	display: inline-block;
}

label[for=firstname] {
	position: relative;
	font-family: Poppins_Medium_Regular;
	text-transform: uppercase;
	display: inline-block;
}

label[for=lastname] {
	position: relative;
	font-family: Poppins_Medium_Regular;
	text-transform: uppercase;
	display: inline-block;
}

label[for=bio] {
	position: relative;
	font-family: Poppins_Medium_Regular;
	text-transform: uppercase;
	display: inline-block;
}

input[name=firstname] {
	position: relative;
	font-family: Poppins_Medium_Regular;
	display: inline-block;
}

input[name=lastname] {
	position: relative;
	font-family: Poppins_Medium_Regular;
	display: inline-block;
}

textarea {
	position: absolute;
	top: 67.5%;
	width: 59.5%;
	height: 15%;
}

label[for=zipcode] {
	position: absolute;
	top: 84.5%;
	font-family: Poppins_Medium_Regular;
	text-transform: uppercase;
}

input[name=zipcode] {
	position: absolute;
	top: 88%;
	font-family: Poppins_Medium_Regular;
}

#doneCancel-container {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

#submitBtn, #cancelBtn {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	border-radius: 200px;
	padding: 6px 20px;
	background-color: rgba(0, 0, 0, 0.05);
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, .1); */
	border: 0;
	outline: 0;
}

#profpicBtn {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	margin-left: 30px;
	border-radius: 15px;
	background-color:#fff;
	border: 0;
}

#profpicBtn::-webkit-file-upload-button {
	border: 0;
	padding: 15px 25px;
}

#desc {
	position: relative;
	top: 10px;
	font-family: Poppins_Medium_Regular;
	color: rgba(0, 0, 0, 0.5);
}

#edit_profile {
	width: 300px;
	position: absolute;
	top: 30%;
	left: 0;
	font-size: 20px;
	font-family: Poppins_Medium_Regular;
	display: inline-block;
}

#account_settings {
	width: 300px;
	position: absolute;
	top: 40%;
	left: 0;
	font-size: 20px;
	font-family: Poppins_Medium_Regular;
}

#edit_profile, #account_settings p {
	font-family: Poppins_Bold;
	display: inline-block;
}

.edit-profile-icon {
	height: 28px;
	margin-top: -2px;
	display: inline-block;
}

#back_button {
	position: absolute;
	top: 15%;
	left: 10%;
	border-radius: 50%;
	padding: 0;
}

#back-icon {
	height: 46px;
	opacity: 0.5;
}

#back_button:hover #back-icon {
	opacity: 1;
}