@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(//db.onlinewebfonts.com/c/eeb2719d248b27841be5f4899986eedc?family=Sentinel+Book);

@font-face {
	font-family: Sentinel_Book;
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot");
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff") format("woff"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.svg#Sentinel Book") format("svg");
}

:root {
	--sideMargins: 30px;
	--pageSideMargins: 160px;
	--primaryConvo: 360px;
	--pageWidth: 1600px;
	--rowHeight: 350px;
	--goOffBlue: #3A86FF;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
	background-color: rgba(0, 0, 0, 0.07) !important;
}

.pageContainer {
	/* background-color: #000; */
	position: relative;
	width: var(--pageWidth);
	margin: 0 auto;
}

button {
	padding: 0.5em;
	position: relative;
	cursor: pointer;
	background: none;
}

#top-profile {
	position: relative;
	top: 100px;
	left: 0;
	right: 0;
	height: 200px;
}

#profile-pic {
	border-radius: 50%;
	width: 180px;
	height: 180px;
}

#user-info-container {
	position: absolute;
	top: 12px;
	left: 220px;
	right: 0;
}

#profile-name {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 0;
	display: inline-block;
}

#user-name {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-top: 0;
	color: rgba(0, 0, 0, 0.4);
}

#user-data {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline;
}

#follower-count, #following-count, #post-count {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000;
}

#following-count, #location, #post-count {
	margin-left: 26px;
}

#followers-text, #following-text, #post-count-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.4);
}

#location {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

#bio {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	width: 100%;
	margin-top: 16px;
}

#followbtn {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	border-radius: 50px;
	padding: 5px 26px;
	color: #fff;
	position: relative;
	top: -7px;
	left: 16px;
	cursor: pointer;
	border: none;
	background-color: var(--goOffBlue);
	/* visibility: hidden; */
	display: inline;
	text-transform: uppercase;
}

#followbtn:hover {
	background-color: var(--goOffBlue) !important;
}

#articles-container {
	margin-top: 180px;
	height: var(--rowHeight);
	display: flex;
	justify-content: space-between;
}

#user-articles-container {
	margin-top: 100px;
	height: var(--rowHeight);
	display: flex;
	justify-content: space-between;
}

.article {
	position: relative;
	display: inline-block;
	width: 24%;
	height: 100%;
	/* border: 1px solid rgba(0, 0, 0, 0.116); */
	overflow: hidden;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	transition: top 0.08s ease;
	top: 0px;
}

.article:hover {
	top: -5px;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.article-info-container {
	box-sizing: content-box;
	padding: 17px 17px;
	margin-top: -8px;
}

.article-image-container {
	height: 180px;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.1);
}

.article-image {
	width: 150%;
	margin-top: -8%;
	margin-left: -25%;
	transition: margin 0.1s ease;
}

.article:hover .article-image {
	margin-top: -10%;
}

.article-author {
	position: relative;
	text-align: left;
	margin: auto;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

.article-title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	top: 6px;
	text-align: left;
	margin: auto;
	color: black;
	word-wrap: break-word;
	height: 70px;
	overflow: hidden;
	overflow-wrap: break-word;
	display: -webkit-box;
}

.article-read-time {
	position: absolute;
	right: 18px;
	margin-top: 7px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

#articles-text {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 28px;
	position: absolute;
	margin-top: -50px;
	margin-left: 1px;
	z-index: 1000;
}

.article-info-bottom-container {
	box-sizing: content-box;
	padding: 20px;
	position: absolute;
	bottom: -20px;
	left: 2px;
	right: 20px;
}

.posted-user-img {
	height: 20px;
	width: 20px;
	margin-left: -5px;
	margin-top: -2px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	display: inline-block;	
}

.horiz-icon {
	position: absolute;
	margin-top: -4px;
	right: 0;
	height: 34px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.article:hover .horiz-icon {
	opacity: 0.5;
}

.horiz-icon:hover {
	cursor: pointer;
	opacity: 1;
}

.article-info-bottom-container p {
	margin-left: 5px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

.article-chat-button button {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 12px;
	border: 0;
	outline: 0;
	background-color: var(--goOffBlue);
	padding: 12px 20px;
	color: #fff;
	border-radius: 50px;
	position: absolute;
	left: 12px;
	top: 12px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.article:hover .article-chat-button button {
	opacity: 1;
}

.article-chat-button:hover button {
	background-color: var(--goOffBlue) !important;
}

.user-Chat1 {
	position: absolute;
	left: 25%;
	top: 0;
	border-color: black;
}

.user-Chat2 {
	position: absolute;
	left: 45%;
	top: 0;
}

.user-Chat3 {
	position: absolute;
	left: 65%;
	top: 0;
}

#Submit {
	border: 0;
	border-radius: 50%;
	position: absolute;
}

#Plus {
	right: 31.5%;
	top: -1.5%;
	position: absolute;
	border-radius: 50%;
}

#Cancel {
	position: absolute;
	margin-top: 10px;
	float: right;
	visibility: hidden;
	right: 20%;
	background-color: lightskyblue;
	padding: 5px 5px;
}

#Notification {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.dropdot1-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdot1-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.dropdot1 a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.dropdot2-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdot2-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.dropdot2 a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.footer-container {
	position: relative;
	top: 100px;
	width: var(--pageWidth);
	margin: 0 auto;
	height: 200px;
	background-color: #fff;
	font-size: 14px;
}

#footer-logo {
	height: 36px;
	position: absolute;
	bottom: 10px;
}

.footer-container a:hover {
	cursor: pointer;
	text-decoration: none;
}

.footer-link-container {
	position: absolute;
	bottom: 11px;
	left: 70px;
}

#home, #profile, #contact {
	border: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin-right: 16px;
	border-radius: 100px;
	padding: 6px 18px;
}

#tabs-ul{
	list-style-type: none;
	margin-left: -25px;
	margin-top: -2px;
}
.tabs-li {
	float: left;
	display: inline;
}

.tabs-li, .tabs-a{
	display:block; 
	text-align: center;
	padding: 0px 14px;
}

.tabs-a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
}

.tabs-a:hover {
	text-decoration: none;
	color: var(--goOffBlue);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1690px) {
	:root {
		--pageWidth: 1300px;
	}
}

@media only screen and (max-width: 1400px) {
	:root {
		--pageWidth: 1000px;
	}
}

@media only screen and (max-width: 1100px) {
	:root {
		--pageWidth: 800px;
	}
}

