@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(//db.onlinewebfonts.com/c/eeb2719d248b27841be5f4899986eedc?family=Sentinel+Book);

@font-face {
	font-family: Sentinel_Book;
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot");
	src: url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.woff") format("woff"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eeb2719d248b27841be5f4899986eedc.svg#Sentinel Book") format("svg");
}

:root {
	--sideMargins: 30px;
	--pageSideMargins: 160px;
	--primaryConvo: 360px;
	--pageWidth: 1600px;
	--rowHeight: 350px;
	--goOffBlue: #3A86FF;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
	/* background-color: rgba(0, 0, 0, 0.07) !important; */
}

.pageContainer {
	/* background-color: #000; */
	position: relative;
	width: var(--pageWidth);
	margin: 0 auto;
}

button {
	padding: 0.5em;
	position: relative;
	cursor: pointer;
	background: none;
}

#top-profile {
	position: relative;
	top: 100px;
	left: 0;
	right: 0;
	height: 200px;
}

#profile-pic {
	border-radius: 50%;
	width: 180px;
	height: 180px;
}

#user-info-container {
	position: absolute;
	top: 12px;
	left: 220px;
	right: 0;
}

#profile-name {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 0;
	display: inline-block;
}

#user-name {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-top: 0;
	color: rgba(0, 0, 0, 0.4);
}

#user-data {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline;
}

#follower-count,
#following-count,
#post-count {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000;
}

#following-count,
#location,
#post-count {
	margin-left: 26px;
}

#followers-text,
#following-text,
#post-count-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.4);
}

#location {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

#bio {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	width: 100%;
	margin-top: 16px;
}

#followbtn {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	border-radius: 50px;
	padding: 5px 26px;
	color: #fff;
	position: relative;
	top: -7px;
	left: 16px;
	cursor: pointer;
	border: none;
	background-color: var(--goOffBlue);
	/* visibility: hidden; */
	display: inline;
	text-transform: uppercase;
}

#followbtn:hover {
	background-color: var(--goOffBlue) !important;
}

#articles-container {
	margin-top: 180px;
	height: var(--rowHeight);
	display: flex;
	justify-content: space-between;
}

.url-label {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#userArticle {
    border-bottom: 2px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgba(0, 0, 0, 0);
}

#userArticle:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

#userArticle:focus {
	background-color: rgba(0, 0, 0, 0) !important;
}

#user-articles-container, #user-folder-container {
	margin-top: 100px;
	height: var(--rowHeight);
	display: flex;
	justify-content: space-between;
}

.article {
	position: relative;
	display: inline-block;
	width: 24%;
	height: 100%;
	/* border: 1px solid rgba(0, 0, 0, 0.116); */
	/*overflow: hidden;*/
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	transition: top 0.08s ease;
	top: 0px;
}

.article:hover {
	top: -5px;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.article-info-container {
	box-sizing: content-box;
	padding: 17px 17px;
	margin-top: -2px;
}

.article-image-container {
	height: 180px;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.article-image {
	width: 150%;
	margin-top: -8%;
	margin-left: -25%;
	transition: margin 0.1s ease;
}

.article:hover .article-image {
	margin-top: -10%;
}

.article-author {
	position: relative;
	text-align: left;
	margin: auto;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

.article-title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	top: 6px;
	text-align: left;
	margin: auto;
	color: black;
	word-wrap: break-word;
	height: 70px;
	overflow: hidden;
	overflow-wrap: break-word;
	display: -webkit-box;
}

.article-read-time {
	position: absolute;
	right: 18px;
	margin-top: 2px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

#articles-text, #folders-text {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 28px;
	position: absolute;
	margin-top: -50px;
	margin-left: 1px;
	z-index: 1000;
}

.article-info-bottom-container {
	/*box-sizing: content-box;*/
	height: 200px;
	padding: 20px;
	position: absolute;
	bottom: -20px;
	left: 2px;
	right: 20px;
}

.posted-user-img {
	height: 20px;
	width: 20px;
	margin-left: -5px;
	margin-top: -2px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	display: inline-block;
}

.horiz-icon {
	position: absolute;
	margin-top: -4px;
	right: 0;
	height: 34px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.article:hover .horiz-icon {
	opacity: 0.5;
}

.horiz-icon:hover {
	cursor: pointer;
	opacity: 1;
}

.article-info-bottom-container p {
	margin-left: 5px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

.article-chat-button button {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 12px;
	border: 0;
	outline: 0;
	background-color: var(--goOffBlue);
	padding: 12px 20px;
	color: #fff;
	border-radius: 50px;
	position: absolute;
	left: 12px;
	top: 12px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.article:hover .article-chat-button button {
	opacity: 1;
}

.article-chat-button:hover button {
	background-color: var(--goOffBlue) !important;
}

/* Dropdown Button */
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: absolute !important;
	bottom: 32px !important;
	right: 0 !important;
}

.more-horiz {
	height: 30px;
	opacity: 0.3;
}

.more-horiz:hover {
	cursor: pointer;
	opacity: 0.7;
}

.dropdown-menu {
	padding: 9px 35px 9px 20px !important;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

.dropdown-menu li {
	padding: 5px 0px;
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0 !important;
	margin-top: 10px;
}

.dropdown-menu a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none !important;
}

.dropdown-menu a:hover {
	color: var(--goOffBlue);
}

#save-to-folder {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#tablink-line {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
    top: 58px;
}

/*#upcoming_convo {
	display: flex !important;
	flex-direction: row !important;
}*/

#convo-container {
	font-family: 'Poppins', sans-serif;
	display: flex !important;
	flex-direction: row !important;
	width: 100%;
	margin-top: 22px;
}

#convo-img-container {
	height: 140px;
	width: 140px;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.1);
}

#convo-img {
	width: 100%;
}

#convo-btns {
	display: inline-block;
	margin-left: 164px;
}

#convo-share-btn {
	opacity: 0.5;
}

#convo-share-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

#go-to-convo-button {
	border: 0;
	outline: 0;
	color: #fff;
	padding: 7px 20px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background-color: var(--goOffBlue);
	margin-left: 15px;
}

#go-to-convo-button:hover {
	background-color: var(--goOffBlue) !important;
	opacity: 0.8;
}

#go-to-convo-button:focus {
	background-color: var(--goOffBlue) !important;
}

#convo-right-content {
	margin-top: 12px;
	margin-left: 16px;
}

#convo-date {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

#convo-title {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

#convo-description {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 0;
	margin-bottom: 0;
}

#convo-usr-pfp {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
}

#convo-host {
	font-size: 14px;
	vertical-align: middle;
}

#convo-usr-pfp {
	margin-top: -3px;
	margin-right: 3px;
}

.tablinks1 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: 0;
	outline: 0;
	background-color: rgba(0, 0, 0, 0) !important;
	padding: 5px 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	margin: 0;
	color: rgba(0, 0, 0, 0.5);
	margin-right: 20px;
}

.tablinks1:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

.tablinks1:focus {
	background-color: rgba(0, 0, 0, 0) !important;
}

.active {
	color: rgba(0, 0, 0, 1);
	border-bottom: 2px solid rgba(0, 0, 0, 1);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#arrowdrop {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	margin-top: 36px;
	margin-left: 20px;
	margin-right: -23px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: auto;
}

#arrowdrop a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none !important;
}

#arrowdrop a:hover {
	color: var(--goOffBlue);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

/*.droparrow1 {
	/*display: inline-block;*/
/*float: right;
	/* border: 1px solid rgba(153, 150, 150, 0.116); */
/*z-index: 1000;
}*/
/*
#arrows {
	padding: 10px;
	opacity: 0.8;
}

#arrows:hover {
	cursor: pointer;
	opacity: 1;
}

.dropdown-arrowcontent {
	display: none;
	position: absolute;
	margin-top: 3px;
	right: 0;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 24px;;
	width: 200px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.dropdown-arrowcontent a {
	font-family: Poppins_Medium_Regular;
	font-size: 14px;
	display: block;
	padding: 10px 0px;
}

.droparrow:hover {
	display: block;
}*/

.user-Chat1 {
	position: absolute;
	left: 25%;
	top: 0;
	border-color: black;
}

.user-Chat2 {
	position: absolute;
	left: 45%;
	top: 0;
}

.user-Chat3 {
	position: absolute;
	left: 65%;
	top: 0;
}

#Submit {
	border: 0;
	border-radius: 50%;
	position: absolute;
}

#Plus {
	right: 31.5%;
	top: -1.5%;
	position: absolute;
	border-radius: 50%;
}

#Cancel {
	position: absolute;
	margin-top: 10px;
	float: right;
	visibility: hidden;
	right: 20%;
	background-color: lightskyblue;
	padding: 5px 5px;
}

#Notification {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.dropdot1-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdot1-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.dropdot1 a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.dropdot2-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdot2-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.dropdot2 a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.footer-container {
	position: relative;
	top: 100px;
	width: var(--pageWidth);
	margin: 0 auto;
	height: 200px;
	background-color: #fff;
	font-size: 14px;
}

#footer-logo {
	height: 36px;
	position: absolute;
	bottom: 10px;
}

.footer-container a:hover {
	cursor: pointer;
	text-decoration: none;
}

.footer-link-container {
	position: absolute;
	bottom: 11px;
	left: 70px;
}

#home,
#profile,
#contact {
	border: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin-right: 16px;
	border-radius: 100px;
	padding: 6px 18px;
}

#tabs-ul {
	list-style-type: none;
	margin-left: -25px;
	margin-top: -2px;
}

.tabs-li {
	float: left;
	display: inline;
}

#line {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.tablinks {
	border: 0;
	outline: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 15px;
	margin-left: -5px;
	margin-top: -5px;
}

.tablinks:hover {
	cursor: pointer;
	color: var(--goOffBlue);
	background-color: rgba(0, 0, 0, 0) !important;
}

.tablinks:focus {
	background-color: rgba(0, 0, 0, 0) !important;
}

.tabs-li,
.tabs-a {
	display: block;
	text-align: center;
	padding: 0px 14px;
}

.tabs-a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
}

.tabs-a:hover {
	text-decoration: none;
	color: var(--goOffBlue);
}

.modal-dialog {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 63px);
}

.modal-content {
	width: auto !important;
	margin-top: 25px;
}

.userPic {
	height: 100px !important;
	width: 100px !important;
	border-radius: 50% !important;
}

.close {
	font-size: 2rem !important;
}

.submit-btn {
	border: 0;
	outline: 0;
}

.close-modal-button,
.save-changes-button {
	border-radius: 100px;
	padding: 8px 16px;
	outline: none;
	border: 0;
	background-color: var(--goOffBlue);
	color: #fff;
	font-size: 14px;
}

.close-modal-button:hover,
.save-changes-button:hover {
	cursor: pointer;
	background-color: var(--goOffBlue) !important;
	opacity: 0.85;
}

.close-modal-button:focus,
.save-changes-button:focus {
	cursor: pointer;
	background-color: var(--goOffBlue) !important;
}

.notiftext{
	font-size: small;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1690px) {
	:root {
		--pageWidth: 1300px;
	}
}

@media only screen and (max-width: 1400px) {
	:root {
		--pageWidth: 1000px;
	}
}

@media only screen and (max-width: 1100px) {
	:root {
		--pageWidth: 800px;
	}
}