.pf-c-page__header {
    background-color: var(--pf-global--Color--100);
  }
.fa-home, .pf-icon-add-circle-o, .fa-comments, .fa-bell, .fa-bars,
.pf-c-dropdown__toggle-text, .fa-search{
    color: #151515;
}
.pf-c-nav__link{
    color: #151515;
}
.pf-c-content li + li {
    margin-top: 0;
}
#card-no-footer-example1{
    background-color: #2F80ED;
    color: white; 
}
.pf-c-card, .pf-m-compact{
    border-radius: 10px; 
}

.pf-c-nav__link.pf-m-current, .pf-c-nav__link.pf-m-current:hover, .pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link {
    font-weight: bold; 
    color: black;
    background-color: white; 
}
input{
    color: black;
}