@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--sideMargins: 30px;
	--pageSideMargins: 160px;
	--primaryConvo: 360px;
	--pageWidth: 1600px;
	--rowHeight: 350px;
	--goOffBlue: #3A86FF;
}

.navigationBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 58px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 9000;
}

.navigationContainer {
	position: relative;
	width: var(--pageWidth);
	margin: 0 auto;
}

.navigationLogo {
	position: absolute;
	left: 0;
	height: 36px;
}

.navigationIcons {
	position: absolute;
	right: calc(var(--sideMargins) + 100px);
}

.navigationIcons li {
	display: inline;
}

.navIcon {
	margin-top: -6px;
	padding-left: 16px;
	padding-right: 16px;
	opacity: 0.8;
}

.navIcon:hover {
	cursor: pointer;
	opacity: 1;
}

.navigationProfile {
	position: absolute;
	right: 0;
	height: 100%;
}

.navigationProfile a {
	font-weight: 700;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.7);
}

.navigationProfilePic {
	background-color: rgba(0, 0, 0, 0.2);
	height: 35px;
	width: 35px;
	margin-right: 0px;
	border-radius: 50%;
}

.navigationProfileName {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 14px;
	display: inline;
	position: relative;
}

.searchContainer {
	position: absolute;
	left: 74px;
	right: 430px;
}

#search-input-results {
	border-radius: 8px;
	position: absolute;
	top: 50px;
	left: 74px;
	right: 430px;
	z-index: 1000;
	overflow: hidden;
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.05);
}

#search-input-results a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
	padding: 15px 0px 15px 46px;
	display: block;
	text-decoration: none;
	background-color: #fff;
}

#search-input-results a:hover {
	text-decoration: none;
	/* background-color: rgba(0, 0, 0, 0.1); */
	background-color: #d8d8d8;
}

.search-icon {
	position: absolute;
	left: 8px;
	height: 30px;
	opacity: 0.4;
}

#search {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding: 9px 50px 9px 46px;
	border-radius: 50px;
	width: 100%;
	border: 0px solid rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.05);
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

#search:hover {
	background-color: rgba(0, 0, 0, 0.07) !important;
}

#search:active {
	background-color: rgba(0, 0, 0, 0.07) !important;
}

#search::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.droparrow {
	/*display: inline-block;*/
	float: right;
	/* border: 1px solid rgba(153, 150, 150, 0.116); */
	z-index: 1000;
	position: absolute;
	right: 0px;
}
#fprofpic {
	position: relative;
	right: 50px;
}

#arrows {
	padding: 10px;
	opacity: 0.8;
}

#arrows:hover {
	cursor: pointer;
	opacity: 1;
}

.dropdown-arrowcontent {
	display: none;
	position: absolute;
	margin-top: 3px;
	right: 0;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 24px;;
	width: 200px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.dropdown-arrowcontent a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	display: block;
	padding: 10px 0px;
}

.droparrow:hover {
	display: block;
}

.dropdot-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#pname {
	display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1690px) {
	:root {
		--pageWidth: 1300px;
	}
}

@media only screen and (max-width: 1400px) {
	:root {
		--pageWidth: 1000px;
	}
}

@media only screen and (max-width: 1100px) {
	:root {
		--pageWidth: 800px;
	}
}