@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--goOffBlue: #3A86FF;
}

html {
	background-color: #fff;
	overflow-x: hidden;
}

.left-side {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 60%;
	background: linear-gradient(166.7deg, #3A86FF 35.85%, #5667FF 81.01%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 120;
}

.left-container {
	margin-left: -16vw;
}

#left-logo {
	width: 55px;
	height: 55px;
}

#main-text {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: #fff;
	line-height: 1;
	letter-spacing: -2px;
	margin-bottom: 0;
	margin-top: 60px;
	width: 335px;
}

#sub-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	margin-top: 74px;
}

.right-side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	display: flex;
	align-items: center;
}

.right-container {
	width: 400px;
	margin: 0 auto;
	position: relative;
	z-index: 200;
}

.wave-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
}

#wave {
	position: fixed;
	height: 102%;
	margin-top: -2px;
	margin-left: -70px;
	min-height: 600px;
	z-index: 150;
}

#logo {
	width: 48px;
	height: 48px;
}

#head-text {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}

#desc-text {
	font-size: 14px;
	margin-top: -10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}

.field-container {
	margin-top: 30px;
}

.field-container label {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
}

.required {
	color: red;
	opacity: 0.5;
}

.iti{
	width: 100%;
	margin-bottom: 5%;
}
.field-input {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	border: 0;
	outline: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	width: 100%;
	padding: 2px 0px;
	margin-bottom: 25px;
}

#birthday {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background-color: rgba(0, 0, 0, 0.07);
	border: 0;
	outline: 0;
	padding: 10px 20px;
	border-radius: 100px;
	text-transform: uppercase;
	float: right;
	position: relative;
	top: -31px;
	width: 190px;
	color: rgba(0, 0, 0, 0.6);
}

.checkbox-container {
	display: inline-block;
	margin-top: 20px;
}

#check {
	height: 30px;
	position: absolute;
	margin-left: -29px;
	margin-top: 6px;
	display: none;
}

#checkbox {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	height: 22px;
	width: 22px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	position: relative;
	top: 8px;
}

#checkbox:checked {
	background-color: var(--goOffBlue);
	border: 1px solid rgba(0, 0, 0, 0);
}

#checkbox:checked~#check {
	display: inherit;
}

#terms {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	color: #000;
}

#submit-button {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #fff;
	background: linear-gradient(171.72deg, #3A86FF 24.63%, #3A71FF 93.65%);
	box-shadow: 0px 1px 15px rgba(58, 134, 255, 0.25);
	border: 0;
	outline: 0;
	width: 100%;
	padding: 11px 20px;
	border-radius: 100px;
	margin-top: 14px;
}

#submit-button:hover {
	opacity: 0.9;
	cursor: pointer;
}

#ques-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

#ques-text a {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: var(--goOffBlue);
	text-decoration: underline;
}

::-webkit-datetime-edit-text { padding: 0 0.8em; }