@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--goOffBlue: #3A86FF;
}

html {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

.left-side {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
}

#left-logo {
	height: 100%;
	width: 100%;
}

.right-side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-container {
	width: 460px;
}

.right-logo {
	height: 60px;
}

#main-text {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 45px;
	color: #000;
	line-height: 1;
	letter-spacing: -2px;
	margin-bottom: 0;
	margin-top: 80px;
	width: 500px;
}

#sub-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.25);;
}

.button-container {
	margin-top: 60px;
}

.form-button {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #fff;
	background: linear-gradient(171.72deg, #3A86FF 24.63%, #3A71FF 93.65%);
	box-shadow: 0px 1px 15px rgba(58, 134, 255, 0.25);
	border: 0;
	outline: 0;
	width: 100%;
	padding: 11px 20px;
	border-radius: 100px;
	margin-top: 14px;
}

.form-button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.bottom-links {
	height: 20px;
	position: absolute;
	bottom: 14px;
}

.bottom-links ul {
	margin-top: 0;
	list-style-type: none;
	white-space: nowrap;
	
}

.bottom-links li {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.35);
	display: inline;
	margin-right: 60px;
	white-space: nowrap;	
}

.bottom-links a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.35);
}

.bottom-links a:hover {
	cursor: pointer;
	text-decoration: underline;
}

@media only screen and (max-width: 1305px) {
	.left-side {
		width: 60%;
	}

	#left-logo {
		margin-left: -150px;
	}
}

@media only screen and (max-width: 1080px) {
	.left-side {
		width: 80%;
	}

	.right-side {
		margin-right: 34px;
	}

	#left-logo {
		margin-left: -400px;
	}
}

@media only screen and (max-width: 999px) {
	.left-side {
		display: none;
	}

	.right-side {
		width: 100%;
		margin-right: -5px;
	}
}