@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--goOffBlue: #3A86FF;
}

html {
	background-color: #fff;
	overflow-x: hidden;
}

.left-side {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	/* background: linear-gradient(166.7deg, #3A86FF 35.85%, #5667FF 81.01%); */
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.left-container {
	
	z-index: 200;
	height: 80%;
}

.left-logo {
	width: 55px;
	height: 55px;
	margin-left: -2%;

}

.pdot1 {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	left: 32%;
	top: 13%;
	background: #C4C4C4;
}
.pdot2 {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	left: 38%;
	top: 13%;
	background: #C4C4C4;
}
.pdot3 {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	left: 44%;
	top: 13%;
	background: #C4C4C4;
}
.pbar1 {
	position: absolute;
	width: 6%;
	height: 4px;
	background: #C4C4C4;
	top: 13.5%;
	left: 33%;
}
.pbar2 {
	position: absolute;
	width: 6%;
	height: 4px;
	background: #C4C4C4;
	top: 13.5%;
	left: 39%;
}
.main-text {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: #fff;
	line-height: 1;
	letter-spacing: -2px;
	margin-bottom: 0;
	margin-top: 60px;
	width: 335px;
}

.sub-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	margin-top: 54px;
}

.right-side {
	position: absolute;
	width: 60%;
	height: 100%;
	left: 50%;
	top: 0;
	background: linear-gradient(166.7deg, #3A86FF 35.85%, #5667FF 81.01%);
	/* transform: rotate(-36.81deg); */
	z-index: 120;
}

.right-container {
	width: 400px;
	margin: 0 auto;
	position: relative;
	margin-top: 20%;
}

.wave-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #FFFFFF;
	
}

.wave {
	position: absolute;
	height: 102%;
	margin-top: -2px;
	margin-left: 30%;
	min-height: 600px;
	
	transform: rotate(180deg);
	
	z-index: 150;
}

.logo {
	width: 48px;
	height: 48px;

}

.head-text {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	margin-bottom: 1%;
	margin-top: 0;
}

.desc-text {
	font-size: 14px;
	margin-top: -10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}

.field-container {
	margin-top: 30px;
	width: 100%;
	height: 55%;
}

.field-container label {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
}

.required {
	color: red;
	opacity: 0.5;
}

.iti{
	width: 100%;
	margin-bottom: 10%;
}
.field-input {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	border: 0;
	outline: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	width: 100%;
	padding: 2px 0px;
	margin-bottom: 5%;
}

.birthday {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background-color: rgba(0, 0, 0, 0.07);
	border: 0;
	outline: 0;
	padding: 10px 20px;
	border-radius: 100px;
	text-transform: uppercase;
	float: right;
	position: relative;
	top: -31px;
	width: 190px;
	color: rgba(0, 0, 0, 0.6);
}

.checkbox-container {
	display: inline-block;
	/* margin-top: 20px; */
}

.check {
	height: 30px;
	position: absolute;
	margin-left: -29px;
	margin-top: 6px;
	display: none;
}

.checkbox {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	height: 22px;
	width: 22px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	position: relative;
	top: 8px;
}

.checkbox:checked {
	background-color: var(--goOffBlue);
	border: 1px solid rgba(0, 0, 0, 0);
}

.checkbox:checked~.check {
	display: inherit;
}

.terms {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	color: #000;
}

.submit-button {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #fff;
	background: linear-gradient(171.72deg, #3A86FF 24.63%, #3A71FF 93.65%);
	box-shadow: 0px 1px 15px rgba(58, 134, 255, 0.25);
	border: 0;
	outline: 0;
	width: 100%;
	padding: 11px 20px;
	border-radius: 100px;
	margin-top: 2%;
}

.submit-button:hover {
	opacity: 0.9;
	cursor: pointer;
}

.ques-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	margin-top: 20%;
}

.ques-text a {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: var(--goOffBlue);
	text-decoration: underline;
}

::-webkit-datetime-edit-text { padding: 0 0.8em; }

.evertext {
	position: absolute;
	width: 133px;
	height: 30px;
	left: 30%;
	top: -10%;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	/* identical to box height, or 214% */


	color: #FFFFFF;
}

.evertext2 {
	position: absolute;
	width: 133px;
	height: 30px;
	left: 30%;
	top: 20%;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	/* identical to box height, or 214% */


	color: #FFFFFF;
}

.svertext {
	position: absolute;
	width: 128px;
	height: 30px;
	left: 30%;
	top: -10%;

	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	/* identical to box height, or 250% */


	color: #FFFFFF;
}

.svertext2 {
	position: absolute;
	width: 133px;
	height: 30px;
	left: 30%;
	top: 20%;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	/* identical to box height, or 214% */


	color: #FFFFFF;
}

.verbutton {
	position: relative;
	top: 0px;
	width: 100%;
	margin-top: 4px;
	left: 0;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-align: left;
	border: 0;
	letter-spacing: -0.5px !important;
	padding: 11px 18px 11px 25px;
	border-radius: 50px;
	margin-top: 15%;
	opacity: 0.65;
	display: block;
	text-decoration: none !important;
	background-color: #3A86FF;
	box-shadow: 0px 1px 15px rgba(58, 134, 255, 0.25);
    /*background-color:  #FFFFFF !important; */
	opacity: 1;
	/* position: absolute;
	width: 303px;
	height: 53px;
	left: 127px;
	top: 254px;
	background: #3A86FF;
	box-shadow: 0px 1px 15px rgba(58, 134, 255, 0.25);
	border-radius: 16.5px; */
}

.rightarrow {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 10%;
}

.mailbutton {
	height: 40px;
	width: 40px;
}

.phonebutton {
	height: 40px;
	width: 40px;
}