<!DOCTYPE html>
<html lang="en" class="pf-m-redhat-font">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="stylesheet" href="/css/fonts.css" />-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

	<!-- Include latest PatternFly CSS via CDN -->
    <link rel="stylesheet" href="/css/styleflip.css" />
    <link rel="stylesheet" href="/css/signupresponsive.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Complete Profile</title>
</head>

<body onload="datafill()">
    <div class="whole-container">
        <div class="left-side">
            <div class="left-container">
                <img src="/GO_Off300.png" id="left-logo">
                <span class="dot" id="pdot1" style="background: #3A86FF;"></span>
                <span class="bar" id="pbar1" style="background: #3A86FF;"></span>
                <span class="dot" id="pdot2" style="background: #3A86FF;"></span>
                <span class="bar" id="pbar2" style="background: #3A86FF;"></span>
                <span class="dot" id="pdot3"></span>
                <p id="head-text">Complete your profile</p>
                <p id="desc-text">Almost there, we just need a few more details!</p>
                
                <form novalidate action="ver_account" method="GET" class="field-container">
                    <input type="hidden" name="firstname" id="firstname">
                    <input type="hidden" name="lastname" id="lastname">
                    <input type="hidden" name="email" id="email">
                    <input type="hidden" name="username" id="username">
                    <input type="hidden" name="password" id="password">
                    <input type="hidden" name="birthdate" id="birthdate">
                    <input type="hidden" id="cc"  name="countrycode">
                    
                    <label>PHONE NUMBER <span class="required">*</span></label><br>
                    <input type="text" class="field-input" autocomplete="off" id="phone" name="phonenumber"><br>
                    <script>
                        const phoneInputField = document.querySelector("#phone");
                        const phoneInput = window.intlTelInput(phoneInputField, {
                            utilsScript:
                            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                        });
                        console.log(phoneInputField)

                    </script>

                
                    <!--input type is hidden then assign the country code to that and concatenate it in the backend-->
                    <label>Location <span class="required">*</span></label><br>
                    <input type="text" onclick="submithandle()" class="field-input" autocomplete="off" id="login-demo-form-username" name="location"><br>
                
                    <label>Pronouns <span class="required">*</span></label><br>
                    <select id="gender" name="gender" onclick="submithandle()">
                        <option value="HeHim">He/Him</option>
                        <option value="SheHer">She/Her</option>
                        <option value="TheyThem">They/Them</option>
                    </select>

                    

                    <form action="" id="signupform">
                        <button type="submit" id="submit-button">SAVE & CONTINUE</button>
                    </form>
                </form>
            </div>
            <div class="wave-container">
                <img src="/wave_thin.svg" id="wave">
            </div>
        </div>
        <div class="right-side">
            <div class="right-container">

                <p id="main-text">Adventure starts here.</p>
                <p id="sub-text">Complete your profile to join GoOFF!</p>
                <!-- <img src="/GO_OFF_LOGO.svg" id="logo"> -->
            </div>
        </div>
    </div>
</body>
<script>
  function submithandle(){
    const phoneNumber = phoneInput.getNumber();
    //grab hidden input field id then set the value equal to the country code and then send it to the backend and concatenate it there
    console.log("test")
    ccInputField = document.querySelector("#cc");
    ccInputField.value = phoneNumber;

  }

    function datafill(){

        inputs = window.location.search.split("&")
        document.getElementById("firstname").value = inputs[0].split("+")[0].split("=")[1]
        document.getElementById("lastname").value = inputs[0].split("+")[1]
        document.getElementById("email").value = inputs[1].replace('%40', '@').split("=")[1]
        document.getElementById("username").value = inputs[2].split("=")[1]
        document.getElementById("password").value = decodeURIComponent(inputs[3].split("=")[1])
        document.getElementById("birthdate").value = inputs[4].split("=")[1]
    }  
//   document.getElementById("write").innerHTML = window.location;

</script>

</html>




<!-- <label>Pronouns <span class="required">*</span></label><br>
				<fieldset id="Gender" name="gender">
    
          <input type="radio" id="Male" name="gender" value="male">
          <label for="Male">He/Him</label>
    
          <input type="radio" id="Female" name="gender" value="female">
          <label for="Female">She/Her</label>
    
          <input type="radio" id="Other" name="genderType">
          <input type="text" name="gender" placeholder="OTHER" id="other-gender-textbox">
        </fieldset><br> -->
        
        <!--add onchange to call submithandle for changing phone number-->