@import '../HomePage/Home.module.scss';

.profilePageContainer {
	background: #f4f4f4;
	height: 100%;
	overflow: hidden;
}

.profCenterDash {
	width: 82%;
	align-items: baseline;
	padding: 4% 3%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}
.profCenterFeed {
	width: 69%;
}
.profCenterFeed > * {
	margin: 2% 0;
}
.profilePageInfoContainer {
	width: 100%;
}
.profilePageTopWrapper {
	width: 100%;
	display: flex;
}
.profilePageAvatarContainer {
	width: 150px;
	height: 150px;
	align-self: center;
}

.profilePageAvatar {
	border-radius: 100%;
	width: 100%;
}

.profilePageInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4%;
	color: #515863;
	font-family: 'Poppins';
	line-height: 34px;
}

.profilePageName {
	font-size: 2.25rem;
	font-weight: 500;
}

.profilePageUsername {
	font-size: 1.5rem;
	font-weight: 400;
}

.profilePageFollowing {
	font-size: 1.5rem;
	font-weight: 600;
}

.profilePageBio {
	font-size: 1.125rem;
	font-weight: 400;
}

.profilePageDivider {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #515863;
	opacity: 0.2;
	margin-top: 4%;
}

.profilePageTabsContainer {
	display: flex;
	margin-top: 1%;
}

.profilePageTab {
	border-radius: 10px;
	padding: 0.5% 1%;
	margin: 0 0.5%;
	cursor: pointer;
}

.profilePageTab:hover {
	background: #e6e8ff;
}

.profilePageTabText {
	font-size: 1.125rem;
	font-weight: 400;
	color: #757d8a;
}
.followBtnContainer {
	flex-grow: 1;
	position: relative;

	.followBtn,
	.followBtnFollowing {
		background: rgba(31, 117, 255, 0.678);
		color: #ffffff;
		// margin-top: 16%;
		padding: 3px 15px;
		width: 15%;
		border-radius: 10px;
		text-align: center;
		position: absolute;
		top: 7px;

		&:hover {
			cursor: pointer;
		}
	}
	.followBtnFollowing {
		background: green;
	}
}
