// Global Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

// Global Styles
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	max-width: 100%;
}

:root {
	--goOffBlue: #3a86ff;
}

html {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
